django-braces
django-crispy-forms
django-imagekit
django-markdown
django-model-utils
django-pgfields
django-pipeline
django==1.6.5

facebook-sdk
Pillow
south

gunicorn==18.0
psycopg2
Collectfast==0.2.0
gevent==1.0.1

boto
django-storages
dj-database-url

coverage==3.7.1
django-discover-runner==1.0

coverage==3.7.1
Sphinx

django-debug-toolbar==1.2
