{% extends 'base.html' %}

{% block title %}{{ object_list.0.serie.nome }}{% endblock %}

{% block content %}
    <h1>{{ object_list.0.serie.nome }}</h1>

    <table class="table">
        <tbody>
            {% for episodio in object_list %}
                <tr>
                    <td>
                        {% if episodio.screenshot %}
                            <a href="{{ episodio.screenshot.url }}">
                                <img class="img img-thumbnail" src="{{ episodio.screenshot_thumbnail.url }}" alt="">
                            </a>
                        {% else %}
                            <img class="img img-thumbnail" src="http://placehold.it/125x70" alt="">
                        {% endif %}
                    </td>
                    <td>
                        <h4>
                            <a href="{% url 'catalogo:download' episodio.pk %}">
                                #{{ episodio.num }} - {{ episodio.titulo }}
                            </a>
                        </h4>
                        {% if episodio.sinopose %}
                            <p>{{ episodio.sinopse }}</p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
