{% load staticfiles flatpages %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CDZForever{% endblock %}</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>CDZForever</h1>
            <!-- <h4>#CdzForever, desde 2003... 2003!!! Bá quanto tempo. Naquela época o IRC era tão mais divertido...</h4> -->
        </div>
    </header>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    
                    <li class="">
                        <a href="{% url 'catalogo:series' %}">Downloads</a>
                    </li>
                    
                    <!-- <li class="">
                        <a href="">Manga</a>
                    </li> -->

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Outros <b class="caret"></b>
                        </a>

                        {% get_flatpages as flatpages %}
                        <ul class="dropdown-menu">
                            {% for page in flatpages %}
                                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                <!-- <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Buscar Episódio">
                    </div>
                </form> -->
            </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="col-md-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="fb-like-box" data-href="https://www.facebook.com/CDZForever" data-height="550px" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
            </div>
        </div>
    </main>

    <footer>
        <a href="https://www.facebook.com/CDZForever" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://www.twitter.com/cdz4ever" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://www.github.com/dvl/cdzforever.net" title="GitHub"><i class="fa fa-github fa-2x"></i></a>
    </footer>

    {% if not DEBUG %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=477138722407788&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-3643001-12', 'cdzforever.net');
        ga('send', 'pageview');
    </script>
    {% endif %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
