{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            {% block content %}{% endblock %}      
        </div>
    </div>

    <footer>
        <a href="https://www.facebook.com/CDZForever" title="Facebook"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://www.twitter.com/cdz4ever" title="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="https://www.github.com/dvl/cdzforever.net" title="GitHub"><i class="fa fa-github fa-2x"></i></a>
    </footer>
</body>
</html>
